.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-logo2935 {
    width: 29px;
    height: 35px;
}

.icon-search1818,
.icon-1818 {
    width: 18px;
    height: 18px;
}

.icon-arrow-right2019 {
    width: 20px;
    height: 19px;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-arrow-bottom168 {
    width: 16px;
    height: 8px;
}

.icon-1616 {
    width: 16px;
    height: 16px;
}

/* left-side start */
.icon-home {
    background-image: url(../icons/home.svg);
}

.icon-globe {
    background-image: url(../icons/globe.svg);
}

.icon-briefcase {
    background-image: url(../icons/briefcase.svg);
}

.icon-activity {
    background-image: url(../icons/activity.svg);
}

.icon-shield {
    background-image: url(../icons/shield.svg);
}

.icon-home {
    background-image: url(../icons/home.svg);
}

.icon-play-circle {
    background-image: url(../icons/play-circle.svg);
}

.icon-award {
    background-image: url(../icons/award.svg);
}

.icon-message-circle {
    background-image: url(../icons/message-circle.svg);
}

.icon-bell {
    background-image: url(../icons/bell.svg);
}

.icon-settings {
    background-image: url(../icons/settings.svg);
}

.icon-gift {
    background-image: url(../icons/gift.svg);
}
/* left-side end */


/* MIDDLE SIDE start */
.icon-search {
    background-image: url(../icons/search.svg);
}

.icon-arrow-right {
    background-image: url(../icons/arrow-right.svg);
}

.icon-more-horiz {
    background-image: url(../icons/more-horiz.svg);
}

.icon-dot {
    background-image: url(../img/img-dot.svg);
}

.icon-share {
    background-image: url(../icons/share.svg);
}

.icon-pocket {
    background-image: url(../icons/pocket.svg);
}

/* following start */
.icon-feather {
    background-image: url(../icons/feather.svg);
}

.icon-arrow-left {
    background-image: url(../icons/arrow-left.svg);
}
/* following end */
/* MIDDLE SIDE end */


/* RIGHT SIDE start */
/* profile start */
.icon-user {
    background-image: url(../icons/user.svg);
}

.icon-arrow-bottom {
    background-image: url(../icons/arrow-bottom.svg);
}
/* profile end */


/* celsius start */
.icon-crosshair {
    background-image: url(../icons/crosshair.svg);
}
/* celsius end */


/* quick bytes start */
.icon-file-text {
    background-image: url(../icons/file-text.svg);
}

.icon-circle-arrow-left {
    background-image: url(../icons/circle-arrow-left.svg);
}

.icon-circle-arrow-right {
    background-image: url(../icons/circle-arrow-right.svg);
}
/* quick bytes end */
/* RIGHT SIDE end */